In [6]:
# Import Required Libraries
import pandas as pd

In [15]:
# Load the dataset
df = pd.read_csv(r"C:\Users\Bosede\OneDrive\Documents\2025 job\Data Analyst\Projects\Olympics medals\olympics2024.csv")

In [16]:
# Preview the first few rows

df.head()

   Rank        Country Country Code  Gold  Silver  Bronze  Total
0     1  United States           US    40      44      42    126
1     2          China          CHN    40      27      24     91
2     3          Japan          JPN    20      12      13     45
3     4      Australia          AUS    18      19      16     53
4     5         France          FRA    16      26      22     64

In [17]:
# Show count of missing values per column

df.isnull().sum()

Rank            0
Country         0
Country Code    0
Gold            0
Silver          0
Bronze          0
Total           0
dtype: int64

In [18]:
# View current data types

df.dtypes

Rank             int64
Country         object
Country Code    object
Gold             int64
Silver           int64
Bronze           int64
Total            int64
dtype: object

In [19]:
# Check for duplicates

df.duplicated().sum()

np.int64(0)

In [21]:
# Recheck shape and summary 

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          91 non-null     int64
 1   Country       91 non-null     object
 2   Country Code  91 non-null     object
 3   Gold          91 non-null     int64
 4   Silver        91 non-null     int64
 5   Bronze        91 non-null     int64
 6   Total         91 non-null     int64
dtypes: int64(5), object(2)
memory usage: 5.1+ KB

            Rank       Gold     Silver     Bronze       Total
count  91.000000  91.000000  91.000000  91.000000   91.000000
mean   45.307692   3.604396   3.593407   4.219780   11.417582
std    25.652244   6.990278   6.770816   6.558798   19.702829
min     1.000000   0.000000   0.000000   0.000000    1.000000
25%    23.500000   0.000000   0.000000   1.000000    2.000000
50%    44.000000   1.000000   1.000000   2.000000    5.000000
75%    68.000000   3.000000   3.000000   5.000000    9.000000
max    84.000000  40.000000  44.000000  42.000000  126.000000

In [23]:
# Export cleaned data to csv

df.to_csv(r"C:\Users\Bosede\OneDrive\Documents\2025 job\Data Analyst\Projects\Olympics medals\olympics2024.csv", index=False)